@model Kulsayfasi
@{
    var cetUserName = Model?.CetUser?.Name;
}

<a class="nav-link" asp-controller="Kulsayfasis" asp-action="Details" asp-route-id="@Model?.Id">Hello @* @User.Identity?.Name! *@ @cetUserName</a>