@model IEnumerable<FınalProjectBeginning.Models.Event>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<CetUser> SignInManager
@inject UserManager<CetUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@* @section Styles {
    <style>
        body {
            
            background-color:black;
            
        }
    </style>
}
 *@
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        .food_section h2,
        .food_section h5,
        .food_section h4,
        .food_section p,
        .food_section btn {
            color: #fff;
        }
    </style>
</head>
<h2>Etkinlikler</h2>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Restoran"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<section class="food_section layout_padding">
    @* <div class="container"> *@
        @* <div class="heading_container heading_center">
            
        </div> *@
        @* <div class="filters-content"> *@
            <div class="row grid">
                @foreach (var item in Model)
                {

                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="~/images/@item.ImageName" alt="">
                                    </a>
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.Title
                                       
                                    </h5>
                                    <h4>
                                        @item.CetUser.Name
                                    </h4>
                                    <p>
                                        @item.Body
                                    </p>
                                    <div class="options">
                                        <a href="~/Evaluations/create?eventid=@item.Id"><btn>Add evaluation</btn></a>
                                        <btn>Katil</btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }            
         </div>
</section>
