@model IEnumerable<FınalProjectBeginning.Models.Event>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<CetUser> SignInManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Restoran"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <p>To Create a event, you must be corrected via Restoran</p>
}
@* 
<div class="bg-box">
    <img src="~/images/hero-bg.jpg" alt=""></img>

</div> *@
<section class="food_section layout_padding">
    <div class="container">
        @* <div class="heading_container heading_center">
            
        </div> *@
        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {

                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="images/@item.ImageName" alt="">
                                    </a>
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.Title
                                        @item.CetUser.Name
                                    </h5>
                                    <p>
                                        @item.Body
                                    </p>
                                    <div>

                                        
                                        <btn>Katil</btn>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
